body{

  
  
  margin: 220px 100px 0 500px  ;
 background: rgb(182, 181, 181);
}
.box{
  height: 350px;
  box-shadow: -5px -5px 7px rgb(255, 255, 255),
  5px 5px 10px black ;
  width: 400px; 
  margin-top: 20px;
  padding: 20px 0 0 0;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(rgb(146, 173, 245),rgb(6, 26, 208));
  border-radius: 10px;
 
}
.int{
  padding: 0 150px 10px 0 ;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 5px;
  text-align:start;
  text-transform: uppercase;
  background: transparent;
  box-shadow: -3px -3px 5px white,
  5px 5px 10px black;
  background-color: rgb(219, 219, 219);
  
}


.but1{
  padding: 20px 10px 35px 10px;
  justify-content: space-evenly;
  align-items: center;
}
button{
  height: 30px;
  width: 55px;
  font-weight: 800;
  border-radius: 5px;
  box-shadow: -3px -3px 3px  rgb(174, 172, 172),
  3px 3px 10px  black;
  border: transparent;
  cursor: grab;
  
}
.but2{
    padding: 20px 10px 0 10px;
    justify-content: space-evenly;
    align-items: center;
  }
  .but3{
    padding: 20px 10px 0 10px;
    justify-content: space-evenly;
    align-items: center;
  }
  .but4{
    padding: 20px 10px 0 10px;
    justify-content: space-evenly;
    align-items: center;
  }
  .but5{
    padding: 20px 10px 0 10px;
    justify-content: space-evenly;
    align-items: center;
  }
